#login-page {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  .image-container {
    display: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnnu6obVk9X7KpF7ddIVK0Xukk7GK5uWC1GA&s);
    height: 100vh;
  }
  .form-login {
    display: flex;
    width: 100%;
    height: 100vh;
    background: azure;
    .container-form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      max-width: 450px;
    }
  }

  @media (min-width: 768px) {
    .image-container {
      display: flex;
      width: 60%;
    }
    .form-login {
      width: 40%;
    }
  }
}
